@font-face {
    font-family: 'Graphic-regular';
    src: url("../font/GraphikLCG-Regular.ttf");
}

@font-face {
    font-family: 'Graphic-semibold';
    src: url("../font/GraphikLCG-Semibold.ttf");
}

@font-face {
    font-family: 'Roboto-regular';
    src: url("../font/Roboto-Regular.ttf");
}

body{
    font-family: 'Graphic-regular', serif;
    color: black;
}

.container{
    width: 1290px;
    margin: 0 auto;
}

button{
    cursor: pointer;
}

span{
    text-decoration-line: underline;
}

/*header*/

.header-top-wrapper{
    padding: 26px 0 24px 0;
    border-bottom: 1px solid #CCCCCC;;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    gap: 51px;
}

.logo ul{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    gap: 57px;
}

li{
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

a{
    text-decoration: none;
    color: #000000;
}

.buttons{
    display: flex;
    gap: 10px;
}

.btn-1, .btn-2{
    font-family: 'Graphic-semibold', serif;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
}

.btn-1{
    padding: 0 36px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn-2{
    padding: 0 22px;
    background: #FF6336;
    color: #FFFFFF;
    border: none;
}

/*-section frame*/

.frame-wrapper{
    display: flex;
}

.frame-wrapper img{
    max-width: 746px;
}

.frame{
    padding: 129px 0 172px 0;
}

h1{
    font-family: 'Graphic-semibold', serif;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 51px;
}

.text-frame p{
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    max-width: 471px;
    margin-bottom: 51px;
}

.text-frame h3{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    max-width: 369px;
}

.frame-buttons .first-button{
    font-family: 'Graphic-semibold', serif;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 42px;
    background-color: #FF6336;
    border: none;
}

.frame-buttons .second-button{
    font-family: 'Graphic-semibold', serif;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    padding: 0 29px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
}

.frame-buttons{
    margin-bottom: 25px;
}


/*section-1*/
.section-1{
    padding: 108px 0;
    background-color: #FF9C7D;
}

.section-1-wrapper h2{
    font-family: 'Graphic-semibold', serif;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto 82px;
    max-width: 720px;
}

.brands{
    display: flex;
    justify-content: space-around;
    gap: 103px;
}

/*section-2*/

.section-2-wrapper{
    display: flex;
    flex-direction: column;
    gap: 250px;
    padding: 90px 0 150px 0;
}

.section-wrapper{
    display: flex;
    justify-content: space-between;
}

.section-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 493px;
}

.section-text h2{
    font-family: 'Graphic-semibold', serif;
    font-size: 50px;
    line-height: 60px;
    padding-top: 151px;
}

.section-text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.section-text h3{
    font-family: 'Graphic-semibold', serif;
    font-size: 20px;
    line-height: 30px;
}

/* section3 */

.section3{
    background-color: #FFF8E4;
    padding: 120px 0 147px 0;
}

.section3-wrapper h2{
    font-family: 'Graphic-semibold', serif;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 79px;
}

.app-wrapper{
    height: 627px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.app{
    text-align: center;
    max-width: 330px;
}

.app img{
    margin-bottom: 26px;
}

.app h3{
    font-family: 'Graphic-semibold', serif;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
}

.app p{
    height: 75px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

/*section4*/

.section-4{
    padding: 154px 0 187px 0;
}

.section-4 h2{
    font-family: 'Graphic-semibold', serif;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 92px;
}

.section4-wrapper{
    display: flex;
    gap: 31px;
    align-items: flex-end;
}

.section-skills h3{
    font-family: 'Graphic-semibold', serif;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 34px;
    margin-top: 67px;
}

.section-skills p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 26px;
}

.section-skills a{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
}

/*section-5*/

.section-5{
    background: #C9E8F2;
    padding: 63px 0 105px 0;
}

.section5-wrapper{
    display: flex;
    gap: 59px;
}

.section5-wrapper p{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;
}

.section5-wrapper h3{
    font-family: 'Roboto-regular', serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

/*section-6*/

.section-6{
    background: #DABC98;
    padding: 80px 0 84px 0;
}

.section6-wrapper{
    display: flex;
}

.cake{
    display: flex;
    padding-right: 124px;
    border-right: solid 1px black;
    gap: 67px;
}

.cake p{
    font-family: 'Graphic-semibold', serif;
    font-size: 35px;
    line-height: 50px;
    max-width: 461px;
    margin: auto;
}

.stars{
    display: flex;
    gap: 71px;
    margin: auto;
}

/*section-7*/

.section7-wrapper{
    padding: 165px 0 162px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section7-wrapper h3{
    font-family: 'Graphic-semibold', serif;
    font-size: 65px;
    line-height: 75px;
    max-width: 791px;
    text-align: center;
}

.section7-wrapper p{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    max-width: 539px;
    margin-bottom: 25px;
}

.section7-wrapper button{
    font-family: 'Graphic-semibold', serif;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    background: #FF6336;
    padding: 0 20px;
    border: none;
    margin-top: 32px;
}

/*section-8*/

.section-8{
    background: #FF9C7D;
}

.section8-wrapper{
    padding: 119px 265px 161px;
    text-align: center;
}

.section8-wrapper h3{
    font-family: 'Graphic-semibold', serif;
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 29px;
}

.section8-wrapper p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 54px;
}

.section8-wrapper button{
    font-family: 'Graphic-semibold', serif;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 40px;
    background: #000000;
    border: none;
}

/*footer*/

.footer-wrapper{
    background: #EEEEEE;
    padding: 97px 0 48px 0;;
}

.footer-top{
    display: flex;
    padding-bottom: 95px;
    border-bottom: 1px solid black;
    gap: 140px;
}

.case h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
}

.specialized{
    margin-top: 31px;
    margin-bottom: 11px;
}

.case p{
    max-width: 290px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}

.case a{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.info-wrapper{
    display: flex;
    width: 850px;
    justify-content: space-between;
}

.info h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21px;
}

.info li{
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
}

.footer-under{
    display: flex;
    justify-content: space-between;
    margin: 47px 0 48px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.left{
    display: flex;
    gap: 14px;
}

.left p{
    max-width: 301px;
}






