@media (max-width: 768px) {
    /*.container{*/
    /*    max-width: 768px;*/
    /*    margin: 0 auto;*/
    /*}*/

    /* header*/

    .header-top-wrapper{
        max-width: 768px;
    }

    .header-top{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 15px;
    }

    .logo{
        flex-direction: column;
        gap: 10px;
    }

    .logo ul{
        flex-direction: column;
        gap: 10px;

    }

    /* frame */

    .frame{
        padding: 29px 0 72px 0;
    }

    .frame-wrapper{
        flex-direction: column;
    }

    .frame-wrapper img{
        max-width: 100%;
    }

    /* section1 */

    .brands{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .brands img{
        max-width: 50%;
        border-bottom: solid 2px black;
    }

    /* section2 */

    .section-2-wrapper{
        gap: 15px;
        padding: 20px 0 50px 0;
    }

    .section-wrapper{
        flex-direction: column;
    }

    .section-text h2{
        padding-top: 25px;
    }

    .section-image{
        display: none;
    }

    /* section3 */

    .section3{
        padding: 20px 0 47px 0;
    }

    /* section4 */

    .section-4{
        padding: 50px 0 87px 0;
    }

    .section4-wrapper{
        flex-direction: column;
    }

    /* section5 */

    .section5-wrapper{
        flex-direction: column;
    }

    /* section6 */

    .section6-wrapper{
        flex-direction: column;
        gap: 20px;
    }

    .cake{
        border-right: none;
        flex-direction: column;
        gap: 10px;
    }

    .cake p{
        font-size: 100%;
    }

    .stars{
        margin: 0;
    }

    /* section7 */

    .section7-wrapper img{
        max-width: 100%;
    }

    .section7-wrapper{
        padding: 65px 0 62px 0;
    }

    /* section8 */

    .section8-wrapper h3{
        font-size: 35px;
    }

    .section8-wrapper{
        padding: 15px 0;
    }

    /* footer */

    .footer-wrapper{
        padding: 47px 0 28px 0;
    }

    .footer-top{
        flex-direction: column;
    }
}